<!-- <div fxLayout='row' fxLayoutGap="2em">
  <div fxLayout='column' fxFlex="33">
    <h1>Who Am I?</h1>
    <p>
      Pommy ipsum chap numbskull toad in the whole Amelia Pond chips queer as a clockwork orange on't goggle box, drizzle in the
      goolies and wedding tackle balderdash they can sod off a comely wench. Gobsmacked off with her head supper Kate and
      Will chuffed blighty loo scouser middle class, numbskull bloke corgi barmy pot noodle good old fashioned knees up have
      a butcher's at this. Golly lost the plot the black death apple and pears ever so odds and sods middle class punter,
      on a stag do up at the crack of dawn in a pickle macca completely starkers. Union Jack bag egg's old boy well fit bow
      ties are cool, ey up ey up duck.
    </p>
  </div>
  <div fxLayout='column' fxFlex="33">
    <h1>Skills</h1>
    <p>
      Pommy ipsum Union Jack shepherd's pie ey up duck Kate and Will, bent as a nine bob note narky flabbergasted. Tallywhacker
      a bit wonky lost the plot pie-eyed Bad Wolf rumpy pumpy in the goolies, nuthouse pot noodle barmy a fiver. Tallywhacker
      have a butcher's at this ear hole penny-dreadful flip flops, lost the plot got a lot of brass they can sod off tallywhacker
      done up like a kipper, pulled a right corker it's the bees knees rubbish. Who brought loaf done up like a kipper chippy
      and and we all like figgy pudding grub's up lost her marbles, utter shambles see a man about a dog indeed anorak. Pennyboy
      Bob's your uncle well chuffed through the dales, they can sod off nosh.
    </p>
  </div>
  <div fxLayout='column' fxFlex="33">
    <h1>Notable Projects</h1>
    <p>
      Pommy ipsum fish fingers and custard jellied eels knee high to a grasshopper i'll be a monkey's uncle, apple and pears jellied
      eels eton mess 10 pence mix, corgi yorkshire pudding chaps. Who brought loaf the old bill bog roll bowler hat wibbly-wobbly
      timey-wimey stuff up at the crack of dawn blighty one off, off t'shop collywobbles earwig a tad crisps Bob's your uncle
      getting on my wick, pigeons in Trafalgar Square fish and chips Northeners drizzle narky slap-head. Is she 'avin a laugh
      baffled a right royal knees up ever so lovely the old bill cobbles gallivanting around, and blighty and we all like
      figgy pudding ever so lovely willy, off with her head argy-bargy sausage roll Essex girls sweet fanny adams.
    </p>
  </div>
</div>
<a href="http://www.linkedin.com/in/john-t-earl-114a1563">Check out my LinkedIn</a>
<div class="disclaimer">
  <p>
    The information provided by this site is for informational purposes only. It should not be considered legal or financial
    advice. You should consult with a financial advisor or other professional to determine what may be best for your individual
    needs. I do not make any guarantee or other promise as to any results that may be obtained from using this content.
  </p>

  <p>
    No one should make any investment decision without first consulting his or her own financial advisor and conducting his or
    her own research and due diligence. To the maximum extent permitted by law, I disclaim any and all liability in the event
    any information, commentary, analysis, opinions, advice and/or recommendations prove to be inaccurate, incomplete or
    unreliable, or result in any investment or other losses. Content contained on or made available through the website is
    not intended to and does not constitute investment advice. Your use of the information on the website or materials linked
    from the Web is at your own risk.
  </p>
</div> -->

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
