ga('set', 'page', '/capm');
ga('send', 'pageview');
<div class="container">
  <h1>Capital Asset Pricing Model</h1>
  <h4>The CAPM says the expected return of a security or a portfolio equals the rate on a risk-free security plus a risk
    premium. If this expected return does not meet or beat the required return, then the investment should not be undertaken</h4>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #capmForm="ngForm">
      <mat-form-field>
        <label for="riskFreeRate">Risk Free Rate</label>
        <input matInput type="number" class="form-control" id="riskFreeRate" value="2.964" required [(ngModel)]="model.riskFreeRate"
          name="riskFreeRate" #riskFreeRate="ngModel">
      </mat-form-field>
      <div [hidden]="riskFreeRate.valid || riskFreeRate.pristine" class="alert alert-danger">
        Risk free rate is required
      </div>

      <div>
        <mat-form-field>
          <label for="beta">Stock Beta</label>
          <input matInput type="number" class="form-control" id="beta" value=".50" required [(ngModel)]="model.beta" name="beta" #beta="ngModel">
        </mat-form-field>
      </div>
      <div [hidden]="beta.valid || beta.pristine" class="alert alert-danger">
        Stock beta is required
      </div>

      <div>
        <mat-form-field>
          <label for="marketRate">Market Return</label>
          <input matInput type="number" class="form-control" id="marketRate" value="6.0" required [(ngModel)]="model.marketRate" name="marketRate"
            #marketRate="ngModel">
        </mat-form-field>
      </div>
      <div [hidden]="marketRate.valid || marketRate.pristine" class="alert alert-danger">
        Market rate is required
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!capmForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default marginLeft1em" (click)="newCapm()">New Capm</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    CapmM is: {{model.riskFreeRate}} + {{model.beta}}({{model.marketRate}} - {{model.riskFreeRate}}) = {{model.rateOfReturn}}
    <button type="button" class="btn btn-default" (click)="newForm()">New Capm</button>
  </div>
</div>
