<div class="container">
  <h1>Cap M Form</h1>
  <form>
    <mat-form-field>
      <label for="riskFreeRate">Risk Free Rate</label>
      <input matInput type="number" class="form-control" id="riskFreeRate" value="2.964" required>
    </mat-form-field>

    <div>
      <mat-form-field>
        <label for="beta">Stock Beta</label>
        <input matInput type="number" class="form-control" id="beta" value=".50" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label for="marketReturn">Market Return</label>
        <input matInput type="number" class="form-control" id="marketReturn" value="6" required>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
